<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Ada"/>
        <filter
          name="Assembly"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Python"/>
      </watched>
      <dir
        name="cross-compile"
        excluded="true">
        <dir
          name="rts39xx_sdk_v5.0.1">
          <dir
            name="toolchain">
            <dir
              name="asdk-10.3.1-a7-EL-5.4-u1.0-a32nh-220218">
              <dir
                name="arm-linux-uclibcgnueabi">
                <dir
                  name="usr">
                  <dir
                    name="include">
                    <dir
                      name="arpa"/>
                    <dir
                      name="asm"/>
                    <dir
                      name="asm-generic"/>
                    <dir
                      name="bits"/>
                    <dir
                      name="c++">
                      <dir
                        name="10.3.1">
                        <dir
                          name="arm-linux-uclibcgnueabi">
                          <dir
                            name="ext"/>
                          <dir
                            name="v7ve+neon">
                            <dir
                              name="hard">
                              <dir
                                name="bits"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="backward"/>
                        <dir
                          name="bits"/>
                        <dir
                          name="debug"/>
                        <dir
                          name="decimal"/>
                        <dir
                          name="experimental">
                          <dir
                            name="bits"/>
                        </dir>
                        <dir
                          name="ext">
                          <dir
                            name="pb_ds">
                            <dir
                              name="detail">
                              <dir
                                name="bin_search_tree_"/>
                              <dir
                                name="binary_heap_"/>
                              <dir
                                name="binomial_heap_"/>
                              <dir
                                name="binomial_heap_base_"/>
                              <dir
                                name="branch_policy"/>
                              <dir
                                name="cc_hash_table_map_"/>
                              <dir
                                name="eq_fn"/>
                              <dir
                                name="gp_hash_table_map_"/>
                              <dir
                                name="hash_fn"/>
                              <dir
                                name="left_child_next_sibling_heap_"/>
                              <dir
                                name="list_update_map_"/>
                              <dir
                                name="list_update_policy"/>
                              <dir
                                name="ov_tree_map_"/>
                              <dir
                                name="pairing_heap_"/>
                              <dir
                                name="pat_trie_"/>
                              <dir
                                name="rb_tree_map_"/>
                              <dir
                                name="rc_binomial_heap_"/>
                              <dir
                                name="resize_policy"/>
                              <dir
                                name="splay_tree_"/>
                              <dir
                                name="thin_heap_"/>
                              <dir
                                name="tree_policy"/>
                              <dir
                                name="trie_policy"/>
                              <dir
                                name="unordered_iterator"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="parallel"/>
                        <dir
                          name="pstl"/>
                        <dir
                          name="tr1"/>
                      </dir>
                    </dir>
                    <dir
                      name="drm"/>
                    <dir
                      name="gnu"/>
                    <dir
                      name="linux">
                      <dir
                        name="android"/>
                      <dir
                        name="byteorder"/>
                      <dir
                        name="caif"/>
                      <dir
                        name="can"/>
                      <dir
                        name="cifs"/>
                      <dir
                        name="dvb"/>
                      <dir
                        name="genwqe"/>
                      <dir
                        name="hdlc"/>
                      <dir
                        name="hsi"/>
                      <dir
                        name="iio"/>
                      <dir
                        name="isdn"/>
                      <dir
                        name="mmc"/>
                      <dir
                        name="netfilter">
                        <dir
                          name="ipset"/>
                      </dir>
                      <dir
                        name="netfilter_arp"/>
                      <dir
                        name="netfilter_bridge"/>
                      <dir
                        name="netfilter_ipv4"/>
                      <dir
                        name="netfilter_ipv6"/>
                      <dir
                        name="nfsd"/>
                      <dir
                        name="raid"/>
                      <dir
                        name="sched"/>
                      <dir
                        name="spi"/>
                      <dir
                        name="sunrpc"/>
                      <dir
                        name="tc_act"/>
                      <dir
                        name="tc_ematch"/>
                      <dir
                        name="usb"/>
                      <dir
                        name="wimax"/>
                    </dir>
                    <dir
                      name="misc"/>
                    <dir
                      name="mtd"/>
                    <dir
                      name="net"/>
                    <dir
                      name="netax25"/>
                    <dir
                      name="neteconet"/>
                    <dir
                      name="netinet"/>
                    <dir
                      name="netipx"/>
                    <dir
                      name="netpacket"/>
                    <dir
                      name="protocols"/>
                    <dir
                      name="rdma">
                      <dir
                        name="hfi"/>
                    </dir>
                    <dir
                      name="scsi">
                      <dir
                        name="fc"/>
                    </dir>
                    <dir
                      name="sound">
                      <dir
                        name="sof"/>
                    </dir>
                    <dir
                      name="sys"/>
                    <dir
                      name="video"/>
                    <dir
                      name="xen"/>
                  </dir>
                  <dir
                    name="lib">
                    <dir
                      name="gcc">
                      <dir
                        name="arm-linux-uclibcgnueabi">
                        <dir
                          name="10.3.1">
                          <dir
                            name="include">
                            <dir
                              name="ssp"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="config">
                <dir
                  name="kernel-arm">
                  <dir
                    name="asm"/>
                  <dir
                    name="asm-generic"/>
                  <dir
                    name="drm"/>
                  <dir
                    name="linux">
                    <dir
                      name="android"/>
                    <dir
                      name="byteorder"/>
                    <dir
                      name="caif"/>
                    <dir
                      name="can"/>
                    <dir
                      name="cifs"/>
                    <dir
                      name="dvb"/>
                    <dir
                      name="genwqe"/>
                    <dir
                      name="hdlc"/>
                    <dir
                      name="hsi"/>
                    <dir
                      name="iio"/>
                    <dir
                      name="isdn"/>
                    <dir
                      name="mmc"/>
                    <dir
                      name="netfilter">
                      <dir
                        name="ipset"/>
                    </dir>
                    <dir
                      name="netfilter_arp"/>
                    <dir
                      name="netfilter_bridge"/>
                    <dir
                      name="netfilter_ipv4"/>
                    <dir
                      name="netfilter_ipv6"/>
                    <dir
                      name="nfsd"/>
                    <dir
                      name="raid"/>
                    <dir
                      name="sched"/>
                    <dir
                      name="spi"/>
                    <dir
                      name="sunrpc"/>
                    <dir
                      name="tc_act"/>
                    <dir
                      name="tc_ematch"/>
                    <dir
                      name="usb"/>
                    <dir
                      name="wimax"/>
                  </dir>
                  <dir
                    name="misc"/>
                  <dir
                    name="mtd"/>
                  <dir
                    name="rdma">
                    <dir
                      name="hfi"/>
                  </dir>
                  <dir
                    name="scsi">
                    <dir
                      name="fc"/>
                  </dir>
                  <dir
                    name="sound">
                    <dir
                      name="sof"/>
                  </dir>
                  <dir
                    name="video"/>
                  <dir
                    name="xen"/>
                </dir>
                <dir
                  name="uclibc">
                  <dir
                    name="extra">
                    <dir
                      name="config">
                      <dir
                        name="lxdialog"/>
                    </dir>
                    <dir
                      name="locale">
                      <dir
                        name="programs"/>
                    </dir>
                    <dir
                      name="scripts"/>
                  </dir>
                  <dir
                    name="include">
                    <dir
                      name="arpa"/>
                    <dir
                      name="gnu"/>
                    <dir
                      name="internal"/>
                    <dir
                      name="net"/>
                    <dir
                      name="netax25"/>
                    <dir
                      name="neteconet"/>
                    <dir
                      name="netinet"/>
                    <dir
                      name="netipx"/>
                    <dir
                      name="netpacket"/>
                    <dir
                      name="protocols"/>
                    <dir
                      name="scsi"/>
                    <dir
                      name="sys"/>
                  </dir>
                  <dir
                    name="ldso">
                    <dir
                      name="include"/>
                    <dir
                      name="ldso">
                      <dir
                        name="aarch64"/>
                      <dir
                        name="arc"/>
                      <dir
                        name="arm"/>
                      <dir
                        name="avr32"/>
                      <dir
                        name="bfin"/>
                      <dir
                        name="c6x"/>
                      <dir
                        name="cris"/>
                      <dir
                        name="csky"/>
                      <dir
                        name="fdpic"/>
                      <dir
                        name="frv"/>
                      <dir
                        name="h8300"/>
                      <dir
                        name="i386"/>
                      <dir
                        name="kvx"/>
                      <dir
                        name="m68k"/>
                      <dir
                        name="metag"/>
                      <dir
                        name="microblaze"/>
                      <dir
                        name="mips"/>
                      <dir
                        name="nds32"/>
                      <dir
                        name="nios2"/>
                      <dir
                        name="or1k"/>
                      <dir
                        name="powerpc"/>
                      <dir
                        name="riscv64"/>
                      <dir
                        name="sh"/>
                      <dir
                        name="sparc"/>
                      <dir
                        name="x86_64"/>
                      <dir
                        name="xtensa"/>
                    </dir>
                    <dir
                      name="libdl"/>
                  </dir>
                  <dir
                    name="libc">
                    <dir
                      name="inet"/>
                    <dir
                      name="misc">
                      <dir
                        name="assert"/>
                      <dir
                        name="ctype"/>
                      <dir
                        name="dirent"/>
                      <dir
                        name="elf"/>
                      <dir
                        name="error"/>
                      <dir
                        name="file"/>
                      <dir
                        name="fnmatch"/>
                      <dir
                        name="fts"/>
                      <dir
                        name="ftw"/>
                      <dir
                        name="glob"/>
                      <dir
                        name="internals"/>
                      <dir
                        name="locale"/>
                      <dir
                        name="mntent"/>
                      <dir
                        name="pthread"/>
                      <dir
                        name="regex"/>
                      <dir
                        name="search"/>
                      <dir
                        name="statfs"/>
                      <dir
                        name="syslog"/>
                      <dir
                        name="sysvipc"/>
                      <dir
                        name="time"/>
                      <dir
                        name="ttyent"/>
                      <dir
                        name="utmp"/>
                      <dir
                        name="wchar"/>
                      <dir
                        name="wctype"/>
                      <dir
                        name="wordexp"/>
                    </dir>
                    <dir
                      name="pwd_grp"/>
                    <dir
                      name="signal"/>
                    <dir
                      name="stdio"/>
                    <dir
                      name="stdlib">
                      <dir
                        name="malloc"/>
                      <dir
                        name="malloc-simple"/>
                      <dir
                        name="malloc-standard"/>
                    </dir>
                    <dir
                      name="string">
                      <dir
                        name="cris"/>
                      <dir
                        name="generic"/>
                      <dir
                        name="i386"/>
                      <dir
                        name="ia64"/>
                      <dir
                        name="powerpc"/>
                      <dir
                        name="sh">
                        <dir
                          name="sh4"/>
                      </dir>
                      <dir
                        name="sparc"/>
                      <dir
                        name="x86_64"/>
                    </dir>
                    <dir
                      name="sysdeps">
                      <dir
                        name="linux">
                        <dir
                          name="aarch64">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="alpha">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="arc">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="arm">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="avr32">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="bfin">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="c6x">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="common-generic">
                          <dir
                            name="bits"/>
                        </dir>
                        <dir
                          name="cris">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="csky">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="frv">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="h8300">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="hppa">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="i386">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="ia64">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="kvx">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="lm32">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="m68k">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="metag">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="microblaze">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="mips">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="nds32">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="nios2">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="or1k">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="powerpc">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="riscv64">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="sh">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="sparc">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="sparc64">
                          <dir
                            name="bits"/>
                          <dir
                            name="soft-fp"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="tile">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="x86_64">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                        <dir
                          name="xtensa">
                          <dir
                            name="bits"/>
                          <dir
                            name="sys"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="termios"/>
                    <dir
                      name="unistd"/>
                  </dir>
                  <dir
                    name="libcrypt"/>
                  <dir
                    name="libgprof">
                    <dir
                      name="sys"/>
                  </dir>
                  <dir
                    name="libiconv">
                    <dir
                      name="include"/>
                  </dir>
                  <dir
                    name="libintl"/>
                  <dir
                    name="libm">
                    <dir
                      name="arm"/>
                    <dir
                      name="i386"/>
                    <dir
                      name="kvx"/>
                    <dir
                      name="metag"/>
                    <dir
                      name="nds32"/>
                    <dir
                      name="powerpc">
                      <dir
                        name="e500">
                        <dir
                          name="fpu"/>
                      </dir>
                    </dir>
                    <dir
                      name="sh">
                      <dir
                        name="sh4"/>
                    </dir>
                    <dir
                      name="x86_64"/>
                  </dir>
                  <dir
                    name="libpthread">
                    <dir
                      name="linuxthreads">
                      <dir
                        name="sysdeps">
                        <dir
                          name="alpha"/>
                        <dir
                          name="arc"/>
                        <dir
                          name="arm"/>
                        <dir
                          name="avr32"/>
                        <dir
                          name="bfin"/>
                        <dir
                          name="c6x"/>
                        <dir
                          name="cris"/>
                        <dir
                          name="frv"/>
                        <dir
                          name="h8300"/>
                        <dir
                          name="hppa"/>
                        <dir
                          name="i386"/>
                        <dir
                          name="ia64"/>
                        <dir
                          name="m68k"/>
                        <dir
                          name="microblaze"/>
                        <dir
                          name="mips"/>
                        <dir
                          name="nds32"/>
                        <dir
                          name="nios2"/>
                        <dir
                          name="or1k"/>
                        <dir
                          name="powerpc"/>
                        <dir
                          name="pthread">
                          <dir
                            name="bits"/>
                        </dir>
                        <dir
                          name="sh"/>
                        <dir
                          name="sparc"/>
                        <dir
                          name="x86_64"/>
                        <dir
                          name="xtensa"/>
                      </dir>
                    </dir>
                    <dir
                      name="linuxthreads_db"/>
                    <dir
                      name="nptl">
                      <dir
                        name="sysdeps">
                        <dir
                          name="aarch64"/>
                        <dir
                          name="alpha">
                          <dir
                            name="elf"/>
                        </dir>
                        <dir
                          name="arc"/>
                        <dir
                          name="arm"/>
                        <dir
                          name="csky"/>
                        <dir
                          name="generic"/>
                        <dir
                          name="i386">
                          <dir
                            name="i686"/>
                        </dir>
                        <dir
                          name="kvx"/>
                        <dir
                          name="m68k"/>
                        <dir
                          name="metag"/>
                        <dir
                          name="microblaze"/>
                        <dir
                          name="mips"/>
                        <dir
                          name="nds32"/>
                        <dir
                          name="nios2"/>
                        <dir
                          name="or1k"/>
                        <dir
                          name="powerpc"/>
                        <dir
                          name="pthread">
                          <dir
                            name="bits"/>
                        </dir>
                        <dir
                          name="riscv64"/>
                        <dir
                          name="sh"/>
                        <dir
                          name="sparc"/>
                        <dir
                          name="unix">
                          <dir
                            name="sysv">
                            <dir
                              name="linux">
                              <dir
                                name="aarch64">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="alpha">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="arc">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="arm">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="bits"/>
                              <dir
                                name="csky">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="i386">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="kvx">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="m68k">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="metag">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="microblaze">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="mips">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="nds32">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="nios2">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="or1k">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="powerpc">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="riscv64">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="sh">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="sparc">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="x86_64">
                                <dir
                                  name="bits"/>
                              </dir>
                              <dir
                                name="xtensa">
                                <dir
                                  name="bits"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="x86_64"/>
                        <dir
                          name="xtensa"/>
                      </dir>
                    </dir>
                    <dir
                      name="nptl_db"/>
                  </dir>
                  <dir
                    name="librt"/>
                  <dir
                    name="libuargp"/>
                  <dir
                    name="libubacktrace">
                    <dir
                      name="arm"/>
                  </dir>
                  <dir
                    name="libutil"/>
                  <dir
                    name="utils"/>
                </dir>
              </dir>
              <dir
                name="lib">
                <dir
                  name="gcc">
                  <dir
                    name="arm-linux-uclibcgnueabi">
                    <dir
                      name="10.3.1">
                      <dir
                        name="include"/>
                      <dir
                        name="include-fixed"/>
                      <dir
                        name="install-tools">
                        <dir
                          name="include"/>
                      </dir>
                      <dir
                        name="plugin">
                        <dir
                          name="include">
                          <dir
                            name="c-family"/>
                          <dir
                            name="config">
                            <dir
                              name="arm"/>
                          </dir>
                          <dir
                            name="cp"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="usr">
                <dir
                  name="share">
                  <dir
                    name="gcc-10.3.1">
                    <dir
                      name="python">
                      <dir
                        name="libstdcxx">
                        <dir
                          name="v6"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="sources">
        <dir
          name="ak"/>
        <dir
          name="app">
          <dir
            name="json"/>
          <dir
            name="webrtc"/>
        </dir>
        <dir
          name="common"/>
        <dir
          name="driver">
          <dir
            name="exor"/>
          <dir
            name="rc-switch"/>
          <dir
            name="yi-hack-lib"/>
        </dir>
        <dir
          name="libraries">
          <dir
            name="arm_rts">
            <dir
              name="include">
              <dir
                name="curl"/>
              <dir
                name="freetype2">
                <dir
                  name="freetype">
                  <dir
                    name="config"/>
                </dir>
              </dir>
              <dir
                name="mosquitto"/>
              <dir
                name="openssl"/>
              <dir
                name="stb"/>
            </dir>
            <dir
              name="lib"/>
            <dir
              name="libdatachannel">
              <dir
                name="include">
                <dir
                  name="internal"/>
                <dir
                  name="plog">
                  <dir
                    name="Appenders"/>
                </dir>
                <dir
                  name="rtc"/>
              </dir>
              <dir
                name="lib"/>
            </dir>
            <dir
              name="libopus">
              <dir
                name="include"/>
              <dir
                name="lib"/>
            </dir>
          </dir>
          <dir
            name="libraries">
            <dir
              name="arm_rts">
              <dir
                name="include">
                <dir
                  name="curl"/>
                <dir
                  name="freetype2">
                  <dir
                    name="freetype">
                    <dir
                      name="config"/>
                  </dir>
                </dir>
                <dir
                  name="mosquitto"/>
                <dir
                  name="openssl"/>
                <dir
                  name="stb"/>
              </dir>
              <dir
                name="lib"/>
              <dir
                name="libdatachannel">
                <dir
                  name="include">
                  <dir
                    name="internal"/>
                  <dir
                    name="plog">
                    <dir
                      name="Appenders"/>
                  </dir>
                  <dir
                    name="rtc"/>
                </dir>
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="libopus">
                <dir
                  name="include"/>
                <dir
                  name="lib"/>
              </dir>
            </dir>
            <dir
              name="librealtex">
              <dir
                name="include">
                <dir
                  name="vpucodec"/>
              </dir>
              <dir
                name="lib"/>
            </dir>
            <dir
              name="libvvtk">
              <dir
                name="2023.12.09">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.01.19">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.01.26">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.02.07">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.02.26">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.03.08">
                <dir
                  name="include"/>
              </dir>
              <dir
                name="2024.03.22">
                <dir
                  name="include"/>
              </dir>
            </dir>
            <dir
              name="linux64">
              <dir
                name="include">
                <dir
                  name="libdatachannel">
                  <dir
                    name="internal"/>
                  <dir
                    name="libsrtp"/>
                  <dir
                    name="rtc"/>
                </dir>
                <dir
                  name="libopus"/>
                <dir
                  name="libuvgrtp"/>
              </dir>
              <dir
                name="lib"/>
              <dir
                name="libdatachannel">
                <dir
                  name="lib"/>
              </dir>
            </dir>
            <dir
              name="mp4v2">
              <dir
                name="lib"/>
              <dir
                name="mp4v2"/>
            </dir>
          </dir>
          <dir
            name="librealtex">
            <dir
              name="include">
              <dir
                name="vpucodec"/>
            </dir>
            <dir
              name="lib"/>
          </dir>
          <dir
            name="libvvtk">
            <dir
              name="include"/>
          </dir>
        </dir>
        <dir
          name="sys"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Ada"/>
    <language
      name="Assembly"/>
    <language
      name="C++"/>
    <language
      name="Python"/>
  </languages>
  <file_types/>
  <ada_options
    count_and_or_operators="false"
    count_exception_handlers="true"
    count_for_loops="true"
    create_record_object_components="false"
    create_relations_between_formal_actual_parameters="false"
    display="Original"
    linkage_case="Lowercase"
    optimize_for_less_memory="false"
    preprocessor="None"
    prompt_on_parse_error="true"
    save_comments_associated_with_entities="true"
    version="Ada95"/>
  <annotations_options/>
  <assembly_options
    assembler="Coldfire 68K"
    leading_spaces_option="true"
    save_macro_expansion_text="false"
    search_for_include_files_among_project_files="true"
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Linux"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
</project>
